**Assignment Detail**

Pada tugas kali ini, kita akan membersihkan data marketing_data.csv
menggunakan prinsip OOP.

Prinsip OOP yang akan digunakan:
1. Basic OOP
2. Inheritance
3. Polymorphism

Script dapat menggunakan pandas agar lebih mudah mengerjakan.

**Task 1: Basic OOP**

Buatlah class MarketingDataETL yang memiliki tiga metode:

1. extract(): akan membaca data dari sebuah file CSV (Misalkan,
marketing_data.csv)
2. transform(): akan melakukan pembersihan dan transformasi sederhana
pada data (seperti mengubah format tanggal atau membersihkan nilai
yang kosong)
3. store(): akan menyimpan data yang telah ditransformasi ke dalam struktur
data DataFramet.

In [ ]:
import pandas as pd

class MarketingDataETL():
    def extract(self):
        self.data = pd.read_csv("/content/marketing_data.csv", sep=';')
        print("Data sebelum transform:")
        print(self.data)
        return self.data

    def transform(self):
        if 'purchase_date' in self.data.columns:
            self.data['purchase_date'] = pd.to_datetime(self.data['purchase_date'], errors='coerce')
            self.data = self.data.dropna(subset=['purchase_date'])
            print("Data setelah transform:")
            print(self.data)
            return self.data

    def store(self):
        if hasattr(self, 'data'):
            self.data.to_csv('marketing_data_processed.csv', index=False)
            print("Data stored successfully as CSV.")
        else:
            print("Tidak ada data untuk disimpan.")

data = MarketingDataETL()
data_before_transform = data.extract()
data_after_transform = data.transform()
data.store()

Data sebelum transform:
  customer_id purchase_date product_category  amount_spent
0        C001      01/03/23      Electronics        250.00
1        C002      02/03/23            Books         45.50
2        C003      03/03/23    Home & Garden        150.75
3        C001      04/03/23            Books         20.00
4        C002      05/03/23      Electronics        525.00
5        C004           NaN      Electronics        399.99
6        C003           NaN            Books         10.50
7        C005      07/03/23           Beauty         75.00
Data setelah transform:
  customer_id purchase_date product_category  amount_spent
0        C001    2023-01-03      Electronics        250.00
1        C002    2023-02-03            Books         45.50
2        C003    2023-03-03    Home & Garden        150.75
3        C001    2023-04-03            Books         20.00
4        C002    2023-05-03      Electronics        525.00
7        C005    2023-07-03           Beauty         75.00
Data stored successfully as CSV.

**Task 2: Inheritance & Polymorphism**

1. Gunakan inheritance untuk membuat class TargetedMarketingETL yang mewarisi
dari MarketingDataETL.
2. Tambahkan metode segment_customers() yang mengelompokkan pelanggan
berdasarkan kriteria tertentu (misalnya, pengeluaran total atau kategori produk yang
dibeli).
3. Demonstrasi polymorphism dengan meng-override metode transform() dalam
TargetedMarketingETL untuk menambahkan logika segmentasi pelanggan ke dalam
proses transformasi.

In [ ]:
import numpy as np
class TargetedMarketingETL(MarketingDataETL):
    def __init__(self, file_path):
        super().__init__()

    def segment_customers(self):
        if self.data is not None:
            conditions = [
                (self.data['amount_spent'] < 100),
                (self.data['amount_spent'] >= 100) & (self.data['amount_spent'] < 200),
                (self.data['amount_spent'] >= 200)
            ]
            choices = ['Low Spending', 'Medium Spending', 'High Spending']
            self.data['spending_segment'] = pd.Series(np.select(conditions, choices), index=self.data.index)
            print("Segmentasi berdasarkan pengeluaran customer:")
            print(self.data)
        else:
            print("No data to segment. Please extract data first.")

    def transform(self):
        super().transform()
        self.segment_customers()

    def store_segmented_data(self, output_file_path):
        if self.data is not None:
            try:
                self.data.to_excel(output_file_path, index=False)
                print(f"Data yang sudah di-segmentasi berhasil disimpan ke {output_file_path}")
            except Exception as e:
                print(f"Gagal menyimpan data: {e}")
        else:
            print("No data to store. Please extract and transform data first.")

# Contoh penggunaan
targeted_etl = TargetedMarketingETL("marketing_data.csv")
targeted_etl.extract()
targeted_etl.transform()
targeted_etl.store_segmented_data("segmented_data.xlsx")

Data sebelum transform:
  customer_id purchase_date product_category  amount_spent
0        C001    01/03/2023      Electronics        250.00
1        C002    02/03/2023            Books         45.50
2        C003    03/03/2023    Home & Garden        150.75
3        C001    04/03/2023            Books         20.00
4        C002    05/03/2023      Electronics        525.00
5        C004           NaN      Electronics        399.99
6        C003           NaN            Books         10.50
7        C005    07/03/2023           Beauty         75.00
Data setelah transform:
  customer_id purchase_date product_category  amount_spent
0        C001    2023-01-03      Electronics        250.00
1        C002    2023-02-03            Books         45.50
2        C003    2023-03-03    Home & Garden        150.75
3        C001    2023-04-03            Books         20.00
4        C002    2023-05-03      Electronics        525.00
7        C005    2023-07-03           Beauty         75.00
Segmentasi berdasarkan pengeluaran customer:
  customer_id purchase_date product_category  amount_spent spending_segment
0        C001    2023-01-03      Electronics        250.00    High Spending
1        C002    2023-02-03            Books         45.50     Low Spending
2        C003    2023-03-03    Home & Garden        150.75  Medium Spending
3        C001    2023-04-03            Books         20.00     Low Spending
4        C002    2023-05-03      Electronics        525.00    High Spending
7        C005    2023-07-03           Beauty         75.00     Low Spending
Data yang sudah di-segmentasi berhasil disimpan ke segmented_data.xlsx